html, body {

  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #D4CBC6;

}

.page-break{
  height: 100vh;
}

.header{
  color: #352A26;
}

.header-bar {
  height: 50px;
  background-color: #352A26;
  border-bottom-color: #9E8986;
  border-bottom-width: 5px;
  border-bottom-style: ridge;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.nav-bar{
  height: auto;
  width: 100%;
  background-color: #b5b5b5;
  color:D4CBC6;
}

.nav-tabs{
  float: right;
  width:auto;
  font-style: oblique;
  font-weight: bold;
}
.projects{
  height: 100vh;
  width: 100%;
  background-size: 100%;

  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 200px;
  text-align: center;
  margin-top: 0;
}

.about, .main-content, .portfolio, .contact{
  height: auto;
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  border-width: 2px;
  border-color: #352A26;
  border-style: solid;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #9E8986;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.footer{
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
  margin-top: 100px;
}

.divider{
  border-bottom-color:#352A26;
  border-bottom-style:inset;
  border-bottom-width:1px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social{
  border-color:black;
  border-width:2px;
  border-style:solid;
  border-radius: 9px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-family: fantasy, sans-serif;
  margin: 10px;
  box-shadow: 5px 5px 5px #D4CBC6;
  background-color: #C3B6AD;
}

.social-media{
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: #D4CBC6;
}

.anchorl{
  margin-top: 100px;
}

.social:hover{
  box-shadow: 5px 5px 5px #9E8986;
  background-color: #ACA19F;
  border-color: #352A26;
}

img{
  height: 100%;
}

.port-box{
  height: 200px;
  background-color: #C3B6AD;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
}

.centered{
  margin 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.flink{
  color:black;
}
